*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: whitesmoke;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: lightgreen;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    
    
}
.search{
    display: flex;
}
.search-bar{
    width: 350px;
    padding: 6px;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
    border: 1px black solid;
}
.search-button{
    border-radius: 8px;
    padding: 8px;
    border: 1px black solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    background-color: lightblue;
    color: black;
    font-weight: 600;
}
.show-checkout{
    background-color: black;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16;
    font-weight: 700;
    color: grey;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}
.show-checkout:hover{
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.237);
}
.show-lesson{
    display: flex;
}
.sort-section{
    margin-top: 150px;
    width: 300px;
    padding-left: 50px;
}
.sort h2{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2em;
    color: wheat;
}
.criteria{
    padding: 10px;
    font-size: 22px;
    vertical-align: middle;
}
.criteria input[type="checkbox"]{
    transform: scale(1.5);
    padding: 10px;
    
    accent-color: rgb(150, 107, 28);
}
.checkbox-text{
    display: inline;
    font-size:22px;
    font-weight:50;
}
.order{
    margin-top: 50px;
}
.main{
    margin-top: 40px;
    margin-bottom: 40px;
}
.main{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    
}
.lesson{
    margin: 5px;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border: 3px solid black;
    border-radius: 8px;
}
.lesson-image{
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
    
}
.lesson-description h2{
    margin-bottom: 10px;
    color: lightgreen;
    font-size: 2em;
    font-weight: 700;
}
.price-stock p{
    font-weight: 900;
    font-size: 1.5em;
}
.price-stock span{
    font-size: medium;
}
.add-to-cart-button{
    background-color: gray;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    margin: 8px;
}
.add-to-cart-button:hover{
    transform: scale(1.08);
}
.message{
    font-size: small;
    color: green;
}
.showCheckout{
    margin: 40px;
}
.title{
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
}
.cart-items{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cart-item{
    display: flex;
    border: 3px solid black;
    border-radius: 8px;
    justify-content: space-between;
    padding: 15px;
}
.item-data{
    display: flex;
    gap: 20px;
    justify-content: space-between;

}
.lesson-image{
    height: 180px;
    width: 180px;
}
.cart-item-description{
    vertical-align: middle;
    margin-top: 20px;
}
.cart-item-description h2{
    margin-bottom: 10px;
    color: wheat;
    font-size: 2em;
    font-weight: 700;
}
.remove-from-cart{
    background-color: blue;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 700;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 8px;
    transition:opacity 0.3s ease;
    cursor: pointer;
    margin: 8px;
    margin-top: 35%;
}
.remove-from-cart:active{
    opacity: 0;
}
.checkout-details{
    margin-top: 40px;
}
.details-input{
    font-size: 20px;
}
.details-input h2{
    text-align: center;
    color: wheat;
}
.details-input input{
    padding: 10px;
    width: 300px;
    margin: 8px;
    margin-bottom: 0;
}
.place-order{
    background-color: blue;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
    margin: 15px;
}

.place-order:hover{
    transform: scale(1.1);
}









